body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}
button {
  background: #008cba;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #005f6b;
}
